Repository A-SunsetMkt-Forks/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @emmiegit, @Monkatraz, @danieltharp

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @emmiegit
ftml                                @emmiegit

# The DEEPWELL replacement API service
.github/workflows/deepwell.yaml     @emmiegit
deepwell                            @emmiegit

# Frontend / Web server
framerail                           @Monkatraz @emmiegit
web                                 @Monkatraz

# Localization
.github/workflows/locales.yaml      @emmiegit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @danieltharp
/install/                           @danieltharp

Update tentpole ID for new users.
  deepwell/src/database/seeder/mod.rs
Owners: @emmiegit

Update docs/compatibility-ids.md with new samples.
  docs/compatibility-ids.md
Owners: none

Update ID values in docs/limits.md
  docs/limits.md
Owners: none

Send last revision id for page operations
  framerail/src/lib/server/deepwell/page.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Fix presign file upload for user avatar
  framerail/src/lib/server/deepwell/file.ts
  framerail/src/lib/server/deepwell/getFile.ts
  framerail/src/lib/server/deepwell/user.ts
  framerail/src/lib/server/load/user.ts
  framerail/src/routes/[x+2d]/user/+page.svelte
Owners: @Monkatraz, @emmiegit

Add info page placeholder
  framerail/src/routes/about/+page.svelte
Owners: @Monkatraz, @emmiegit

Add serde tag to enum.
  deepwell/src/types/file_order.rs
  deepwell/src/types/page_order.rs
Owners: @emmiegit

Suppress unused method warning.
  deepwell/src/services/file/service.rs
Owners: @emmiegit

Implement FileService::get_all().
  deepwell/src/services/file/service.rs
Owners: @emmiegit

Allow ordering files by deletion order.
  deepwell/src/types/file_order.rs
  deepwell/src/types/page_order.rs
Owners: @emmiegit

Remove file_hard_delete API method.
  deepwell/src/api.rs
  deepwell/src/endpoints/file.rs
Owners: @emmiegit

Fix doc comment.
  deepwell/src/types/page_order.rs
Owners: @emmiegit

Add FileService::get_all() stub.
  deepwell/src/services/file/service.rs
Owners: @emmiegit

Create FileOrder types.
  deepwell/src/types/file_order.rs
  deepwell/src/types/mod.rs
Owners: @emmiegit

Add blacklist methods to BlobService.
  deepwell/src/services/blob/service.rs
Owners: @emmiegit

Add hard deletion JSONRPC methods.
  deepwell/src/api.rs
  deepwell/src/endpoints/file.rs
  deepwell/src/services/file_revision/service.rs
  deepwell/src/services/file_revision/structs.rs
Owners: @emmiegit

Allow easier passing of string arguments to request.py
  deepwell/scripts/request.py
Owners: @emmiegit

Change type from count().
  deepwell/src/services/file_revision/structs.rs
Owners: @emmiegit

Add blob_blacklist_check.
  deepwell/src/endpoints/blob.rs
Owners: @emmiegit

Add initial count queries.
  deepwell/src/services/file_revision/service.rs
  deepwell/src/services/file_revision/structs.rs
Owners: @emmiegit

Use BlobHash as type.
  deepwell/src/services/blob/service.rs
Owners: @emmiegit

Add blob_blacklist_add.
  deepwell/src/endpoints/blob.rs
Owners: @emmiegit

Move hard delete methods to methods/file_revision.rs
  deepwell/src/endpoints/file.rs
  deepwell/src/endpoints/file_revision.rs
Owners: @emmiegit

Add user_id to method hard_delete_all()
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Blacklist the blob in hard deletion procedure.
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Create blob_blacklist table.
  deepwell/migrations/20220906103252_deepwell.sql
  deepwell/src/models/blob_blacklist.rs
  deepwell/src/models/mod.rs
Owners: @emmiegit

Change calling pattern for file_hard_delete_list.
  deepwell/src/endpoints/blob.rs
Owners: @emmiegit

Add table name to queries with a JOIN.
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Implement new shared inner hard delete implementation.
  deepwell/src/api.rs
  deepwell/src/endpoints/blob.rs
  deepwell/src/services/blob/service.rs
  deepwell/src/services/blob/structs.rs
  deepwell/src/services/file/service.rs
  deepwell/src/services/file_revision/service.rs
  deepwell/src/services/file_revision/structs.rs
  deepwell/src/services/user/service.rs
Owners: @emmiegit

Add blob_blacklist_* API methods.
  deepwell/src/api.rs
Owners: @emmiegit

Move file_move order.
  deepwell/src/endpoints/file.rs
Owners: @emmiegit

Add revision_id in update query.
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Implement blob blacklist and delete.
  deepwell/src/services/blob/service.rs
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Add blob_blacklist_remove.
  deepwell/src/endpoints/blob.rs
Owners: @emmiegit

Implement FileRevisionService::hard_delete_all().
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Add DISTINCT to sample name queries.
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Add TODO stub for future AuditService.
  deepwell/src/services/mod.rs
Owners: @emmiegit

Implement BlobService::remove_blacklist().
  deepwell/src/services/blob/service.rs
Owners: @emmiegit

Move hard_delete stub method to FileRevisionService.
  deepwell/src/services/file/service.rs
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Gather data and return struct.
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit
