Repository A-SunsetMkt-Forks/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @emmiegit, @Monkatraz, @rossjrw, @danieltharp

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @emmiegit
ftml                                @emmiegit
web/app/Services/Wikitext           @emmiegit

# The DEEPWELL replacement API service
.github/workflows/deepwell.yaml     @emmiegit
deepwell                            @emmiegit
web/app/Services/Deepwell           @emmiegit

# Frontend monorepo
.github/workflows/client.yaml       @Monkatraz @rossjrw
web/modules                         @Monkatraz @rossjrw
web/resources                       @Monkatraz @rossjrw

# Frontend files related to browser scripting or styling.
# (Wikidot legacy)
.github/workflows/test-js.yaml      @rossjrw
web/web/files--common/dialogs       @rossjrw
web/web/files--common/javascript    @rossjrw
web/web/files--common/modules       @rossjrw

# Localization
.github/workflows/locales.yaml      @emmiegit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @danieltharp
/install/                           @danieltharp

# PHP and related
*.php                               @emmiegit @danieltharp
/web/composer.json                  @emmiegit @danieltharp
/web/phpunit.xml                    @emmiegit @danieltharp
/web/.env.example                   @emmiegit @danieltharp

# Smarty
*.tpl                               @emmiegit @danieltharp

Add data to BlobSizeMismatch.
  deepwell/src/services/blob/service.rs
  deepwell/src/services/error.rs
Owners: @emmiegit

Run rustfmt.
  deepwell/src/services/blob/service.rs
Owners: @emmiegit

Bump deepwell version to v2024.11.29
  deepwell/Cargo.lock
  deepwell/Cargo.toml
Owners: @emmiegit

Fix docs for enum variant.
  deepwell/src/types/file_order.rs
Owners: @emmiegit

Log file name trimming result.
  deepwell/src/services/file/service.rs
Owners: @emmiegit

Add data fields to "file name too long" variant struct.
  deepwell/src/services/error.rs
Owners: @emmiegit

Quote trimmed filename.
  deepwell/src/services/file/service.rs
Owners: @emmiegit

Remove extra comma.
  deepwell/src/services/user/service.rs
Owners: @emmiegit

Place variables in format string.
  deepwell/src/services/user/service.rs
Owners: @emmiegit

Implement new file name check.
  deepwell/src/services/file/service.rs
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Add new error case for invalid characters.
  deepwell/src/services/error.rs
Owners: @emmiegit

Bump deepwell version to v2024.11.30
  deepwell/Cargo.lock
  deepwell/Cargo.toml
Owners: @emmiegit

Reset error codes.
  deepwell/src/services/error.rs
Owners: @emmiegit

Fix config path in workflow.
  .github/workflows/deepwell.yaml
Owners: @emmiegit

Create deploy.py convenience script for local.
  install/local/deploy.py
Owners: @danieltharp

Move Dockerfiles to flatter install hierarchy.
  install/dev/api/Dockerfile
  install/dev/redis/Dockerfile
  install/dev/redis/redis.conf
  install/dev/web/Dockerfile
  install/local/api/Dockerfile
  install/local/docker-compose.dev.yaml
  install/local/docker-compose.yaml
  install/local/minio/Dockerfile
  install/local/minio/docker-entrypoint.sh
  install/local/minio/healthcheck.sh
  install/local/nginx/Dockerfile
  install/local/postgres/Dockerfile
  install/local/redis/Dockerfile
  install/local/redis/redis.conf
  install/local/web/Dockerfile
  install/prod/api/Dockerfile
  install/prod/postgres/Dockerfile
  install/prod/web/Dockerfile
Owners: @danieltharp

Update install/ paths in GitHub workflow files.
  .github/workflows/deepwell.yaml
  .github/workflows/docker-build-api.dev.yaml
  .github/workflows/docker-build-api.local.yaml
  .github/workflows/docker-build-api.prod.yaml
  .github/workflows/docker-build-minio.local.yaml
  .github/workflows/docker-build-postgres.local.yaml
  .github/workflows/docker-build-postgres.prod.yaml
  .github/workflows/docker-build-redis.local.yaml
  .github/workflows/docker-build-web.dev.yaml
  .github/workflows/docker-build-web.local.yaml
  .github/workflows/docker-build-web.prod.yaml
Owners: @emmiegit, @danieltharp

Adjust install paths in docker-compose files.
  install/local/docker-compose.dev.yaml
  install/local/docker-compose.yaml
Owners: @danieltharp

Change message for config check result.
  deepwell/src/config/special_action.rs
Owners: @emmiegit

Modify docs/development.md for new script.
  docs/development.md
Owners: none

Update install/ paths in DigitalOcean config.
  .do/app.yaml
Owners: none

Add symlinks for Postgres Dockerfile.
  install/local/postgres/health-check.sh
  install/local/postgres/init
  install/prod/postgres/health-check.sh
  install/prod/postgres/init
Owners: @danieltharp

Reorganize tiers and files.
  install/common/api/health-check.sh
  install/common/postgres/health-check.sh
  install/common/postgres/init/01-setup.sh
  install/common/postgres/init/02-seed.sql
  install/dev/api/Dockerfile
  install/dev/api/deepwell-start
  install/dev/api/deepwell.toml
  install/dev/api/health-check.sh
  install/dev/redis/Dockerfile
  install/files/dev/ssl.conf
  install/local/api/Dockerfile
  install/local/api/deepwell-start
  install/local/api/deepwell.toml
  install/local/api/health-check.sh
  install/local/nginx/Dockerfile
  install/local/nginx/ffdhe2048.txt
  install/local/nginx/gzip.conf
  install/local/nginx/nginx.conf
  install/local/nginx/proxy.conf
  install/local/nginx/ssl.conf
  install/local/nginx/web.conf
  install/local/postgres/Dockerfile
  install/prod/api/Dockerfile
  install/prod/api/deepwell.toml
  install/prod/api/health-check.sh
  install/prod/postgres/Dockerfile
Owners: @danieltharp

Update install/local directory in docs/development.md
  docs/development.md
Owners: none

Fix local install paths in legacy directory.
  web/nabs.yml
  web/package.json
Owners: none

Run black formatter on deploy.py
  install/local/deploy.py
Owners: @danieltharp

Fix context directories.
  install/local/docker-compose.yaml
Owners: @danieltharp

Fix bind mount paths.
  install/local/docker-compose.dev.yaml
Owners: @danieltharp

Run rustfmt.
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Fix bug preventing file moves.
  deepwell/src/services/file_revision/service.rs
Owners: @emmiegit

Don't require page_id in FileRevisionService::get_range().
  deepwell/src/services/file_revision/service.rs
  deepwell/src/services/file_revision/structs.rs
Owners: @emmiegit

Upgrade actions/cache to v4.
  .github/workflows/deepwell.yaml
  .github/workflows/locales.yaml
Owners: @emmiegit

Add deepwell endpoint for listing page files
  deepwell/src/api.rs
  deepwell/src/endpoints/page.rs
  deepwell/src/services/file/service.rs
  deepwell/src/services/file/structs.rs
Owners: @emmiegit

Change file move and restore to accept page reference
  deepwell/src/endpoints/file.rs
  deepwell/src/services/file/service.rs
  deepwell/src/services/file/structs.rs
Owners: @emmiegit

Add listing page files
  framerail/src/lib/server/deepwell/pageFile.ts
  framerail/src/lib/server/load/page.ts
  framerail/src/lib/sigma-esque/sigma-esque.svelte
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
  locales/fluent/base/en.ftl
  locales/fluent/base/zh_Hans.ftl
  locales/fluent/wiki-page/en.ftl
  locales/fluent/wiki-page/zh_Hans.ftl
Owners: @emmiegit

Add page file upload
  framerail/src/lib/server/deepwell/pageFile.ts
  framerail/src/lib/server/load/page.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
  locales/fluent/wiki-page/en.ftl
  locales/fluent/wiki-page/zh_Hans.ftl
Owners: @emmiegit

Add page file delete
  framerail/src/lib/server/deepwell/pageFile.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @emmiegit

Add page file edit
  framerail/src/lib/server/deepwell/pageFile.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @emmiegit

Add page file move
  framerail/src/lib/server/deepwell/pageFile.ts
  framerail/src/lib/server/load/page.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
  locales/fluent/wiki-page/en.ftl
  locales/fluent/wiki-page/zh_Hans.ftl
Owners: @emmiegit

Add page file restore
  framerail/src/lib/server/deepwell/pageFile.ts
  framerail/src/lib/server/load/page.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
  locales/fluent/wiki-page/en.ftl
  locales/fluent/wiki-page/zh_Hans.ftl
Owners: @emmiegit
