Repository A-SunsetMkt-Forks/wikijump, changes with the owners that CODEOWNERS names for each.
All owners: @emmiegit, @Monkatraz, @danieltharp

CODEOWNERS:

# This is a CODEOWNERS file, describing who is responsible for
# maintenance of, or has experience with various parts of this
# repository.

# The ftml (Foundation Text Markup Language) service provides
# parsing and rendering of wikitext.
.github/workflows/ftml*.yaml        @emmiegit
ftml                                @emmiegit

# The DEEPWELL replacement API service
.github/workflows/deepwell.yaml     @emmiegit
deepwell                            @emmiegit

# Frontend / Web server
framerail                           @Monkatraz @emmiegit
web                                 @Monkatraz

# Localization
.github/workflows/locales.yaml      @emmiegit

# Terraform and docker-compose deployment
.github/workflows/docker-*.yaml     @danieltharp
/install/                           @danieltharp

Add page file history
  framerail/src/lib/server/deepwell/pageFile.ts
  framerail/src/lib/server/load/page.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
  locales/fluent/wiki-page/en.ftl
  locales/fluent/wiki-page/zh_Hans.ftl
Owners: @Monkatraz, @emmiegit

Add page file rollback
  framerail/src/lib/server/deepwell/pageFile.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

lint
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Show the entire mime type including charset
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Move path resolves into svelte config
  framerail/svelte.config.js
  framerail/tsconfig.json
  framerail/vite.config.ts
Owners: @Monkatraz, @emmiegit

Fix datetime format
  deepwell/src/services/page/structs.rs
Owners: @emmiegit

Add data for info page
  framerail/package.json
  framerail/src/lib/server/deepwell/index.ts
  framerail/src/lib/server/load/info.ts
  framerail/src/lib/vite-env.d.ts
  framerail/src/routes/about/+page.server.ts
  framerail/src/routes/about/+page.svelte
  framerail/vite.config.ts
Owners: @Monkatraz, @emmiegit

Bump framerail version
  framerail/package.json
Owners: @Monkatraz, @emmiegit

lint
  framerail/package.json
  framerail/src/routes/about/+page.svelte
Owners: @Monkatraz, @emmiegit

Install libmagic for coverage step too.
  .github/workflows/deepwell.yaml
Owners: @emmiegit

Update ftml dependency.
  deepwell/Cargo.lock
  deepwell/Cargo.toml
Owners: @emmiegit

Install libmagic for clippy step too.
  .github/workflows/deepwell.yaml
Owners: @emmiegit

Bump deepwell version to v2024.12.30
  deepwell/Cargo.lock
  deepwell/Cargo.toml
Owners: @emmiegit

Remove hint suffix from mime and size fields.
  deepwell/migrations/20220906103252_deepwell.sql
  deepwell/src/endpoints/file.rs
  deepwell/src/endpoints/page.rs
  deepwell/src/models/file_revision.rs
  deepwell/src/services/file/service.rs
  deepwell/src/services/file_revision/service.rs
  deepwell/src/services/file_revision/structs.rs
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @emmiegit, @Monkatraz

Split page layout to component
  framerail/src/lib/types.ts
  framerail/src/routes/[slug]/[...extra]/LayoutPane.svelte
  framerail/src/routes/[slug]/[...extra]/index.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Split page vote to component
  framerail/src/lib/types.ts
  framerail/src/routes/[slug]/[...extra]/VotePane.svelte
  framerail/src/routes/[slug]/[...extra]/index.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Split page editor to component
  framerail/src/routes/[slug]/[...extra]/EditorPane.svelte
  framerail/src/routes/[slug]/[...extra]/index.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Split page parent to component
  framerail/src/lib/types.ts
  framerail/src/routes/[slug]/[...extra]/ParentPane.svelte
  framerail/src/routes/[slug]/[...extra]/index.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Make vote request style consistent with other actions
  framerail/src/lib/server/deepwell/page.ts
  framerail/src/routes/[slug]/[...extra]/+server.ts
  framerail/src/routes/[slug]/[...extra]/VotePane.svelte
Owners: @Monkatraz, @emmiegit

Split page move to component
  framerail/src/lib/stores.ts
  framerail/src/lib/types.ts
  framerail/src/routes/[slug]/[...extra]/MovePane.svelte
  framerail/src/routes/[slug]/[...extra]/index.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Split page history to component
  framerail/src/lib/stores.ts
  framerail/src/lib/types.ts
  framerail/src/routes/[slug]/[...extra]/HistoryPane.svelte
  framerail/src/routes/[slug]/[...extra]/index.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Split page files to component
  framerail/src/lib/types.ts
  framerail/src/routes/[slug]/[...extra]/FilePane.svelte
  framerail/src/routes/[slug]/[...extra]/index.ts
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Remember no_redirect option for switching between edit view and page view
  framerail/src/routes/[slug]/[...extra]/EditorPane.svelte
  framerail/src/routes/[slug]/[...extra]/page.svelte
Owners: @Monkatraz, @emmiegit

Update wasm build
  web/modules/ftml-wasm/src/interface.ts
  web/modules/ftml-wasm/vendor/ftml.d.ts
  web/modules/ftml-wasm/vendor/ftml.js
  web/modules/ftml-wasm/vendor/ftml_bg.wasm.d.ts
Owners: @Monkatraz

Fix clippy lints.
  deepwell/src/services/domain/service.rs
Owners: @emmiegit
